-- Copy and paste this into the Supabase SQL Editor to create the sessions table

CREATE TABLE public.sessions (
    id bigint generated by default as identity primary key,
    user_id uuid references auth.users not null,
    date date not null,
    format text not null,
    stakes text not null,
    result numeric not null,
    status text not null,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Turn on Row Level Security (RLS)
ALTER TABLE public.sessions ENABLE ROW LEVEL SECURITY;

-- Allow users to read only their own sessions
CREATE POLICY "Users can view their own sessions"
ON public.sessions FOR SELECT
USING (auth.uid() = user_id);

-- Allow users to insert their own sessions
CREATE POLICY "Users can insert their own sessions"
ON public.sessions FOR INSERT
WITH CHECK (auth.uid() = user_id);

-- Allow users to update their own sessions
CREATE POLICY "Users can update their own sessions"
ON public.sessions FOR UPDATE
USING (auth.uid() = user_id);

-- Allow users to delete their own sessions
CREATE POLICY "Users can delete their own sessions"
ON public.sessions FOR DELETE
USING (auth.uid() = user_id);
